/* overall timeline head spacing */
.timeline {
      position: relative;
      padding: 2rem 0;
      margin: 2rem 0;
    }
    /* timeline line */
    .timeline::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 4px;
      background: #fd0d0d;
      transform: translateX(-50%);
    }
    .timeline-item {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
h5{
  text-align: center;
}
.timeline-item.left #date{
        margin-left: 43%;
      }
      .timeline-item.right #date{
        margin-left: 51%;
      }
/* Visible when scrolled into view */
.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

    .spacing{
      height:40vw;
    }
    /* timeline bubble */
    .timeline-item::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      background: rgb(119, 73, 202);
      border: 3px solid #a9fd0d;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      z-index: 1;
    }
    /* content boxes */
    .timeline-content {
    background: #f16853;
    margin:5px;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    width: 45%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
/* expand hover effect */
  .timeline-content:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
/* content that are on the left */
    .timeline-item.left .timeline-content {
      float: left;
      text-align: right;
    }
/* content that are on the right */
    .timeline-item.right .timeline-content {
      float: right;
      text-align: left;
    }
/* responsiveness */
    @media (max-width: 768px) {
      .container{
        margin: 0;
      }
      #date{
        margin-left: 25px !important;
      }
      .timeline::before {
        left: 8px;
      }

      .timeline-item::before {
        left: 8px;
        transform: none;
      }

      .timeline-content {
        width: 90% !important;
        float: none !important;
        text-align: left !important;
        margin-left: 2rem;
      }
    }